#contenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
}

#contenu p {
    position: absolute;
    transform: translate(-50%, 0%);
    padding: 10px;
    background-color: #979797;
    width: 5px;
    height: 5px;
    overflow: hidden;
    transition: 0s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#contenu p:hover {
    width: 200px;
    height: 200px;
    overflow: scroll;
    transition: 0s cubic-bezier(0.075, 0.82, 0.165, 1);
}